<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PasswordKeepr</title>
    <link rel="stylesheet" href="../styles/dashboard.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway&family=Spectral+SC:wght@500&family=Syncopate:wght@700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../styles/main.css" type="text/css" />
    <link rel="stylesheet" href="../styles/header.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>
  <body>
    <!-- Header -->
    <header class="header">
      <h2 class="main-logo">PASSWORD KEEPER</h2>
      <form class="form-data" action="/logout" method="POST">
        <a class="my-accnt" href="http://localhost:8080/dashboard">My Account</a>
        <button id="lgout-btn" class="btn btn-outline-warning">LOGOUT</button>
      </form>
    </header>

    <!--Social-->
    <h3>Social</h3>
    <div class="flex-container">
      <% for(let user in users) { %> <% if (value===users[user].user_id) { %> <%
      console.log("hello!: ", users[user].user_id) %>
      <div class="personal_passwords password_card">
        <!--website url-->
        <div>
          <h4><%= users[user].url %></h4>
        </div>
        <!--website name-->
        <div>
          <h5><%= users[user].name %></h5>
        </div>
        <!--website category -->
        <div>
          <h5><%= users[user].category %></h5>
        </div>
        <!--generated password-->
        <div class="input">
          <input
            class="password_to_edit form-control"
            type="text"
            value="<%= users[user].password_text %>"
            disabled="true"
          />
        </div>
        <div class="button-container">
          <!--clip to clipboard-->
          <button class="btn btn-outline-info copy_password">Copy</button>
          <!--delete-->
          <button
            class="btn btn-outline-danger remove_from_password_buttons"
            id="<%= users[user].id %>"
            type="submit"
          >
            Delete
          </button>
          <!--edit -->
          <button
            class="btn btn-outline-primary edit_password"
            id="<%= users[user].id %>"
            type="submit"
            style="display: block"
          >
            Edit
          </button>
          <button
            class="btn btn-outline-secondary cancel_edits"
            id="<%= users[user].id %>"
            type="submit"
            style="display: none"
          >
            Cancel
          </button>
          <button
            class="btn btn-outline-success submit_edits"
            id="<%= users[user].id %>"
            type="submit"
            style="display: none"
          >
            Submit
          </button>
        </div>
      </div>
      <% } %> <% } %>
    </div>
  </body>
</html>
